@model BookingViewModel

    <form asp-action="insert" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.BooingMovie.Id)
        @Html.HiddenFor(x => x.BooingMovie.original_title)
        @Html.HiddenFor(x => x.BooingMovie.original_language)
        @Html.HiddenFor(x => x.BooingMovie.vote_average)
        @Html.HiddenFor(x => x.BooingMovie.overview)
        @Html.HiddenFor(x => x.BooingMovie.release_date)
        @Html.HiddenFor(x => x.BooingMovie.image)
        @Html.HiddenFor(x => x.BooingMovie.video)
        @Html.HiddenFor(x => x.BooingMovie.vote_count)
        @Html.HiddenFor(x => x.BooingMovie.title)
        @Html.HiddenFor(x => x.BooingMovie.popularity)
        @Html.HiddenFor(x => x.BooingMovie.poster_path)
        @Html.HiddenFor(x => x.BooingMovie.backdrop_path)
        @Html.HiddenFor(x => x.BooingMovie.adult)
        @Html.HiddenFor(x => x.BooingMovie.Photo_Link)

        <div class="form-group" align="right">
            <table>
                <tr>
                    <td style="padding-left: 5px; padding-right: 5px; vertical-align:central;">
                        <label asp-for="BooingMovie.original_title" align="center">Select Date To verify Functions</label>
                    </td>
                    <td style="padding-left: 5px; padding-right: 5px; vertical-align:central;">
                        @Html.EditorFor(model => model.booking_date, new { htmlAttributes = new { @class = "form-control datepicker", Value = DateTime.Now, @type = "date" } })
                    </td>
                    <td style="padding-left: 5px; padding-right: 5px; vertical-align:central;">
                        <button class="btn btn-success" type="submit">
                            Buscar
                        </button>
                    </td>
                </tr>
            </table>
           
        </div>
    </form>

